body{

    margin:0;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#12001f,#3b0a45,#000);

    color:white;

    font-family:cursive;

    overflow:hidden;

}



.container{

    text-align:center;

    padding:20px;

}



h1{

    font-size:35px;

    font-style:italic;

    text-shadow:0 0 15px white;

}



#timer{

    margin:40px 0;

    font-size:18px;

}



#timer span{

    display:inline-block;

    font-size:30px;

    margin:5px;

    text-shadow:0 0 10px #ffd700;

}



#nextBtn{

    padding:15px 55px;

    border:none;

    border-radius:40px;

    font-size:22px;

    cursor:pointer;

    background:#ffd700;

    color:#000;

    box-shadow:0 0 25px #ffd700;

    transition:.3s;

}



#nextBtn:hover{

    transform:scale(1.1);

}
