body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#12001f,#3b0a45,#000);
    color:white;
    font-family:cursive;
    overflow:hidden;
}


.container{
    text-align:center;
}


h1{
    font-size:35px;
    font-style:italic;
    text-shadow:0 0 15px #fff;
}


#timer{
    margin:40px 0;
    font-size:20px;
}


#timer span{
    font-size:30px;
    margin:5px;
}


button{

    padding:15px 50px;
    border:none;
    border-radius:30px;
    font-size:20px;
    cursor:pointer;
}


button:disabled{

    opacity:.4;

}


button:not(:disabled){

    background:#ffd700;
    box-shadow:0 0 20px gold;

}
